<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MagicCenter Admin</title>
    <!--                       CSS                       -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen" />
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="/css/invalid.css" type="text/css" media="screen" />
    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript" src="/scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/scripts/jquery.form.js"></script>
    <script type="text/javascript" src="/scripts/jquery.wysiwyg.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript" src="/scripts/admin/index.js"></script>
    </script>
</head>

<body>
    <div id="body-wrapper">
        <!-- Wrapper for the radial gradient background -->
        <div id="sidebar">
            <div id="sidebar-wrapper">
                <!-- Logo (221px wide) -->
                <a href="#"><img id="logo" src="/images/logo.png" alt="Simpla Admin logo" /></a>
                <!-- Sidebar Profile links -->
                <div id="profile-links">
                    Hello, <a href="#" class="user-profile" title="Edit your profile">{{.User.Name}}</a> | <a href="/admin/logout/" title="Sign Out">Sign Out</a>
                </div>
                <ul id="main-nav">
                    <!-- Accordion Menu -->
                    <li><a href="#content" class="nav-top-item current">内容管理 </a>
                        <ul>
                            <li><a class="nav-sub-item current" href="/admin/content/manageArticle/">文章管理</a></li>
                            <li><a class="nav-sub-item" href="/admin/content/manageCatalog/">分类管理</a></li>
                            <li><a class="nav-sub-item" href="/admin/content/manageLink/">链接管理</a></li>
                            <li><a class="nav-sub-item" href="/admin/content/manageImage/">图片管理</a></li>
                        </ul>
                    </li>
                    <li><a href="#module" class="nav-top-item">模块管理 </a>
                        <ul>
                            <li><a class="nav-sub-item current" href="/admin/system/moduleManage/">模块设置</a></li>
                            <li><a class="nav-sub-item" href="/admin/system/moduleContent/">模块内容</a></li>
                        </ul>
                    </li>
                    <li><a href="#account" class="nav-top-item">账号管理</a>
                        <ul>
                            <li><a class="nav-sub-item current" href="/admin/account/manageUser/">用户信息</a></li>
                            <li><a class="nav-sub-item" href="/admin/account/manageGroup/">分组信息</a></li>
                        </ul>
                    </li>
                    <li><a href="#system" class="nav-top-item">系统设置 </a>
                        <ul>
                            <li><a class="nav-sub-item current" href="/admin/system/manageSystem/">站点设置</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End #main-nav -->
            </div>
        </div>
        <!-- End #sidebar -->
        <div id="body-content">
            <div class="body-content-box">
            </div>
            <div id="body-footer">
                <small> <!-- Remove this notice or replace it with whatever you want -->
					&#169; Copyright 2010 Your Company | Powered by <a href="http://">admin
						templates</a> | <a href="#">Top</a>
				</small>
            </div>
            <!-- End #footer -->
        </div>
        <!-- End #main-content -->
    </div>
</body>

</html>