<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MagicCenter Admin</title>
    <link rel="stylesheet" href="/resources/bootstrap/3.3.6/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/bootstrap/3.3.6/css/bootstrap-theme.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/resources/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/resources/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/resources/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script type="text/javascript" src="/resources/admin/index/js/index.js"></script>
    </script>
</head>

<body>
    <div class="container-fluid">
        <ol class="breadcrumb" id="path-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <ul class="list-group" id="main-nav">
                    <li class="list-group-item">
                        <div id="profile-links">
                            Hello, <a href="#" class="user-profile" title="Edit your profile">{{.User.Name}}</a> |
                            <a href="/admin/logout/" title="Sign Out">Sign Out</a>
                        </div>
                    </li>
                    <li class="list-group-item"><a href="#" class="nav-top-item active">内容管理 </a>
                        <ul id="content-nav">
                            <li><a class="nav-sub-item active" href="/content/manageArticleView/">文章管理</a></li>
                            <li><a class="nav-sub-item" href="/content/manageCatalogView/">分类管理</a></li>
                            <li><a class="nav-sub-item" href="/content/manageLinkView/">链接管理</a></li>
                            <li><a class="nav-sub-item" href="/content/manageMediaView/">文件管理</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item"><a href="#" class="nav-top-item">账号管理</a>
                        <ul id="account-nav">
                            <li><a class="nav-sub-item active" href="/account/manageUserView/">用户信息</a></li>
                            <li><a class="nav-sub-item" href="/account/manageGroupView/">分组信息</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item"><a href="/admin/moduleview/" class="nav-top-item">模块管理 </a>
                        <ul id="module-nav">
                            <li><a class="nav-sub-item active" href="/blog/maintain/">Magic Blog</a></li>
                            <li><a class="nav-sub-item" href="/cms/maintain/">Magic CMS</a></li>
                            <li><a class="nav-sub-item" href="/static/maintain/">Magic Static</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item"><a href="#" class="nav-top-item">系统设置 </a>
                        <ul id="system-nav">
                            <li><a class="nav-sub-item active" href="/admin/systemsetting/">站点设置</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-10">
                <div id="body-content">
                </div>
            </div>
        </div>
        <div class="row">
            <small>
					&#169; Copyright 2010 Your Company | Powered by <a href="http://">admin
						templates</a> | <a href="#">Top</a>
				</small>
        </div>
    </div>
</body>

</html>