<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>用户账号验证</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/resources/css/verify-style.css" type="text/css" media="screen" />
<script type="text/javascript" src="/resources/scripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/resources/scripts/jquery.form.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#user-Form .user-account").val({{.User.Account}});
	$("#user-Form .user-id").val({{.Id}});
});
</script>
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="/" class="first">首页</a></li>
				<li><a href="/guestbook/">留言</a></li>
				<li><a href="/aboutSite/">关于本站</a></li>
				<li><a href="/aboutMe/">关于本人</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="">
				<fieldset>
					<input type="text" name="s" id="search-text" size="15" />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
	<h1><a href="#">Assiduous  </a></h1>
	<p><em> template design by <a href="#">www.865171.cn</a></em></p>
</div>
<hr />
<!-- end #logo -->
<div id="page">
	<div id="page-bgtop">
		<h2>用户账号验证</h2>
		<div>
			<form id="user-Form" action="/user/ajaxVerify/"
				method="post">
				<div class="notification success png_bg" style="display: none">
					<a href="#" class="close"><img
						src="/resources/images/icons/cross_grey_small.png"
						title="Close this notification" alt="close" /></a>
					<div>Success notification. Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Proin vulputate, sapien quis
						fermentum luctus, libero.</div>
				</div>
				<div class="notification error png_bg" style="display: none">
					<a href="#" class="close"><img
						src="/resources/images/icons/cross_grey_small.png"
						title="Close this notification" alt="close" /></a>
					<div>Error notification. Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Proin vulputate, sapien quis
						fermentum luctus, libero.</div>
				</div>		
					<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
					<p>
						<label>账号</label> <input
							class="text-input small-input user-account" type="text"
							name="user-account" readonly="true" /> <span class="png_bg">用户账号</span>
					</p>
					<p>
						<label>昵称</label> <input
							class="text-input small-input user-nickname" type="text"
							name="user-nickname" /> <span class="png_bg">*请输入用户昵称</span>
					</p>
					<p>
						<label>密码</label> <input
							class="text-input small-input user-password" type="password"
							name="user-password" /> <span class="png_bg">*请输入账号密码</span>
					</p>
					<p>
						<label>确认密码</label> <input
							class="text-input small-input user-repassword" type="password"
							name="user-repassword" /> <span class="png_bg">*请再次输入用户密码</span>
					</p>
					<p>
						<input type="hidden" name="user-id" class="user-id"
							value="-1" /> <input class="button" type="submit" value="提交" /> <input class="button reset_button" type="button" value="重置" />
					</p>
				<div class="clear"></div>
				<!-- End .clear -->
			</form>		
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="/aboutMe/">Rangh</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>
